$primarycolor: #1b2c4e;
$secondarycolor: #fca311;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin auth-buttons {
    margin: 8px;
    font-size: 16px;
    background-color: $primarycolor;
    color: white;
    border: 2px solid $secondarycolor;
    // border-radius: 8%;
    font-weight: 600;
}

.container {
    height: 100vh;
    width: 100vw;
    margin-top: 20vh;
}

.auth-brand {
color: white;
-webkit-text-stroke: 1.5px black;
font-size: 60px;
justify-content: center;
margin: 0 auto;
width: 45vw;
display: flex;
justify-content: flex-start;
margin-bottom: -13px;
position: relative;
}

.auth {
    display: flex;

    .auth-box {
        background-color: #1b2c4e;
        width: 45vw;
        height: 45vh;
        border: 2px solid black;
        margin: 0 auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        button {
            @include auth-buttons();
        }

        h2 {
            color: white;
        }
    }


    .form-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    input {
        height: 24px;
        font-size: 20px;
        width: 30vw;
        border-color: #fca311;
    }
}

@media screen and (max-width: 500px){
    .auth {
        display: flex;

        .auth-box {
            background-color: #1b2c4e;
            width: 70vw;
            height: 45vh;
            border: 2px solid black;
            margin: 0 auto;
            align-items: center;
            display: flex;
            flex-direction: column;
            
            button {
                @include auth-buttons();
            }
    
            h2 {
                color: white;
            }
        }

        .form-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    
        input {
            height: 24px;
            font-size: 20px;
            width: 50vw;
            border-color: #fca311;
        }
    }

    .auth-brand {
        width: 71vw;
    }
}